
variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  GIT_SUBMODULE_STRATEGY: recursive
  GIT_SUBMODULE_DEPTH: 2  # Set the desired depth here caledon includes parameters

stages:
- test
- build

# https://pip.pypa.io/en/stable/topics/caching/
cache:
  paths:
    - .cache/pip

# behave:
#   image: docker.artifactory.iav.com/python:3.8.20
#   stage: test
#   script:
#     - python --version ; pip --version  # For debugging
#     - pip install virtualenv
#     - virtualenv venv
#     - source venv/bin/activate
#     - pip install -r requirements.txt
#     - pip install -r waymo_osc_extractor/waymo_scenario_tools/requirements.txt
#     - behave --junit ./features
#     #- python -m cProfile -o reports/profile.prof -m behave --junit ./features
#     #- pyinstrument  -o reports/profile.html -m behave --junit ./features
#   artifacts:
#     when: always
#     paths:
#       - reports/*
#     reports:
#       junit: reports/*
#   # allow_failure: true
#   when: manual

  
#- production

# include:
#  # Docker Build
#   - project: DevSecOps/ci-templates
#     file: jobs/build/docker.v2.yml

# iav.dso.build.docker.v2:
#   variables:
#     IAV_DSO_DOCKERBUILD_REGISTRIES: |
#       - url: "https://caledon-container.artifactory.iav.com"
#         user: $IAV_DSO_ARTIFACTORY_USER
#         password: $IAV_DSO_ARTIFACTORY_TOKEN
#         image_destination: "caledon-container.artifactory.iav.com"

# kaniko-build-builder:
#   variables:
#     KANIKO_ARGS: ''
#     KUBERNETES_MEMORY_REQUEST: 16Gi
#     KUBERNETES_MEMORY_LIMIT: 32Gi
#     KUBERNETES_CPU_REQUEST: "4"
#     KUBERNETES_CPU_LIMIT: "8"
#   stage: build
#   image:
#     name: gcr.io/kaniko-project/executor:debug
#     entrypoint:
#     - ''
#   script: |
#     /kaniko/executor \
#     --registry-certificate $CI_REGISTRY=$IAV_CA_BUNDLE \
#     --registry-certificate $IAV_DOCKER_MIRROR=$IAV_DOCKER_MIRROR_CERT \
#     --registry-mirror $IAV_DOCKER_MIRROR \
#     --context $CI_PROJECT_DIR \
#     --dockerfile $CI_PROJECT_DIR/Dockerfile.Builder \
#     --destination $CI_REGISTRY_IMAGE:${CI_COMMIT_TAG:-builder-$CI_PIPELINE_ID} 
#   when: manual

kaniko-build:
  variables:
    KANIKO_ARGS: ''
    KUBERNETES_MEMORY_REQUEST: 16Gi
    KUBERNETES_MEMORY_LIMIT: 32Gi
    KUBERNETES_CPU_REQUEST: "4"
    KUBERNETES_CPU_LIMIT: "8"
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script: |
    /kaniko/executor \
    --registry-certificate $CI_REGISTRY=$IAV_CA_BUNDLE \
    --registry-certificate $IAV_DOCKER_MIRROR=$IAV_DOCKER_MIRROR_CERT \
    --registry-mirror $IAV_DOCKER_MIRROR \
    --context $CI_PROJECT_DIR \
    --dockerfile $CI_PROJECT_DIR/Dockerfile \
    --destination $CI_REGISTRY_IMAGE:${CI_COMMIT_TAG:-build-$CI_PIPELINE_ID} 

# deploy-to-production:
#   stage: production
#   image: registry.gitlab.iavgroup.local/c-i/infrastructure/docker/iac-utils
#   script:
#     - helm upgrade 
#         --install "$CI_ENVIRONMENT_NAME"
#         --namespace "$KUBE_NAMESPACE"
#         --set image.repository="$CI_REGISTRY_IMAGE"
#         --set image.tag="${CI_COMMIT_TAG:-build-$CI_PIPELINE_ID}"
#         --set ingress.host="$CI_ENVIRONMENT_URL"
#         "$HELM_CHART"
#   environment:
#     name: caledon-data-admin
#     url: https://caledon-data-admin.c1.cloud.iavgroup.local
#   only:
#     - main